<!-- header  -->
<header class="short-header">
  <div class="gradient-block"></div>
  <div class="row header-content">
    <div class="logo">
      <a routerLink="/home">Mario Alvarado</a>
    </div>
    <nav id="main-nav-wrap">
      <ul class="main-navigation sf-menu">
        <li *ngFor="let listTitle of listTitles" [ngClass]="{'current':listTitle.current}">
          <!-- { path: 'home', title: 'Inicio', priority: 0, top: true },             -->
          <a routerLink="/{{listTitle.path}}">{{listTitle.title}}</a>
        </li>
      </ul>
    </nav>
    <div class="triggers">
      <a class="menu-toggle" href="#"><span>Menú</span></a>
    </div>
  </div>
</header>
<!-- end header -->
