<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">
      <section>
        <div class="content-media">
          <img src="/assets/images/group.png">
        </div>
        <div class="primary-content">
          <div class="row block-1-2 block-tab-full">
            <div class="bgrid">
              <h3>Mario Josué Alvarado Lima - 201123848 - Intermedias</h3>
              <p>Estudiante de Ingeniería en Ciencias y Sistemas de la Universidad de San Carlos de Guatemala. Actualmente laborando como Full Stack Software Developer en New Sun Road, P.B.C.</p>
            </div>
            <div class="bgrid">
              <h3>Katherine Lisseth Sánchez Girón - 201612408 - Iniciales</h3>
              <p>Estudiante de Ingeniería en Ciencias y Sistemas de la Universidad de San Carlos de Guatemala. Amante de las ciencias de la computación, los osos de peluche y de los animales... especialmente los pandas.</p>
            </div>
            <div class="bgrid">
              <h3>José Enmanuel Chiroy Aifán - 201612262 - Iniciales</h3>
              <p>Estudiante de Ingeniería en Ciencias y Sistemas de la Universidad de San Carlos de Guatemala. Es miembro de la Red Empoderando Juventudes y forma parte del programa "Empoderando a Latinoamérica"</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>