<!-- masonry -->
<section id="bricks">
  <div class="row masonry">
    <!-- brick-wrapper -->
    <div class="bricks-wrapper">
      <div class="grid-sizer"></div>
      <article class="brick entry format-video animate-this">
        <div class="entry-thumb video-image">
          <a href="https://www.youtube.com/watch?v=yoMEbDcFK7U" data-lity>
          <img src="/assets/images/thumbs/informe-2.jpg" alt="bokeh">                   
          </a>
        </div>
        <div class="entry-text">
          <div class="entry-header">
            <h1 class="entry-title"><a routerLink="/informe-2">Ir al informe 2</a></h1>
          </div>
          <div class="entry-excerpt">
            Informe numero dos realizado por los estudiantes de prácticas iniciales sobre la instalacion de multiples sistemas operativos en un solo ordenador
          </div>
        </div>
      </article>
      <!-- end article -->
      <article class="brick entry format-video animate-this">
          <div class="entry-thumb video-image">
            <a href="media/Final.mp4" data-lity>
            <img src="/assets/images/thumbs/informe-1.jpg" alt="bokeh">                   
            </a>
          </div>
          <div class="entry-text">
            <div class="entry-header">
              <h1 class="entry-title"><a routerLink="/informe-1">Ir al informe 1</a></h1>
            </div>
            <div class="entry-excerpt">
              Informe numero uno realizado por los estudiantes de prácticas iniciales sobre el mantenimiento de una computadora portátil.
            </div>
          </div>
        </article>
        <!-- end article -->
    </div>
    <!-- end brick-wrapper --> 
  </div>
  <!-- end row -->
  <div class="row">
    <nav class="pagination">
      <span class="page-numbers prev inactive">Prev</span>
      <span class="page-numbers current">1</span>
      <span class="page-numbers next inactive">Next</span>
    </nav>
  </div>
</section>
<!-- end bricks -->